# API에 사용된 취약한 라이브러리 (Reachable)
PyYAML==5.3                                            
lxml==4.6.3

# 타이포스쿼팅 의심 패키지
123

# 취약한 라이센스
cis==1.7.8

requests
flask
beautifulsoup4

MarkupSafe==2.0.1
Markdown==3.1.1
Django==3.2.19  
urllib3==1.25.11  
jupyter==1.0.0  
pillow==9.0.0
SQLAlchemy==2.0.19
pytest==7.3.1
celery==2.5.0
matplotlib==3.7.0
