body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.container {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%; /* 각 컨테이너가 화면의 30%를 차지 */
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

label {
    font-size: 1.2em;
}

input, select, button {
    font-size: 1em;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.result-container {
    margin-top: 20px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
